<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX USER STATE</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </head>
  <body>
    <main>
      <header>
        <h1>Per Session State with HTMX and Express Session</h1>
      </header>
      <section id="counter-feature">
        <h2>Counter</h2>
        <div id="counter">${req.session.count}</div>
        <button hx-post="/increment" hx-target="#counter" hx-swap="outerHTML">
          +
        </button>
        <button hx-post="/decrement" hx-target="#counter" hx-swap="outerHTML">
          +
        </button>
      </section>
    </main>
  </body>
</html>
